.delg-page {

  .title {
    font-size: 8vw;
  }

  .stages {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 3vw;

    .stage {
      width: 18vw;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
    .stage:hover {
      text-decoration: underline;
    }
  }

  .status-bar {
    width: 76vw;
  }

  .time-remaining {
    text-align: center;
  }

  .content-header {
    margin-top: 20vw;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;

    .credit-balance {
      margin: auto 0 auto auto;
    }
  }

  .transfers {
    margin-bottom: 8vw;
    // border-bottom: 1px solid black;

    .transfers-header {
      margin-left: 2vw;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      border-bottom: 1px solid black;

      .col-one {
        grid-column: 1;
      }
      .col-two {
        grid-column: 2;
      }
      .col-three {
        grid-column: 3;
      }
    }
    .transfer-list {
      margin: 0 0 0 2vw;
    }
  }

  .delegation-content {
    text-align: left;

    .invite-link {
      text-decoration: underline;
    }
    .invite-link:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .delg-page {
    text-align: left;
    width: 60vw;

    .title {
      font-size: 1.5em;
    }

    .stages {
      width: 60vw;
      display: flex;
      justify-content: space-between;
      text-align: center;
      font-size: 1.5vw;

      .stage {
        width: 12vw;
      }
    }

    .status-bar {
      width: 50vw;
      margin-left: 5vw;
    }

    .time-remaining {
      text-align: right;
    }

    .content-header {
      margin-top: 5vw;
    }
  }
}
