.delg-page {

  .content-header {
    margin-top: 20vw;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;

    .credit-balance {
      margin: auto 0 auto auto;
    }
  }

  .transfers {
    margin-bottom: 8vw;
    // border-bottom: 1px solid black;

    .transfers-header {
      margin-left: 2vw;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      border-bottom: 1px solid black;

      .col-one {
        grid-column: 1;
      }
      .col-two {
        grid-column: 2;
      }
      .col-three {
        grid-column: 3;
      }
    }
    .transfer-list {
      margin: 0 0 0 2vw;
    }
  }

  .delegation-content {
    text-align: left;
    // display: grid;
    // grid-template-columns: 58vw 1fr;

    .invite-link {
      text-decoration: underline;
    }
    .invite-link:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .delg-page {
    text-align: left;
    width: 58vw;

    .content-header {
      margin-top: 5vw;
    }

    .delegation-content {

      .delegate-list {
        // grid-column-start: 1;
        margin-right: 5vw;
      }
      .about {
        // grid-column: 2 / -1;
        // grid-row-start: 2;
        margin: 0 6vw 0 6vw;
        position: fixed;
        left: 58vw;
        top: 20vw;
      }
    }
  }
}
