.proposal-widget {
  margin: 15vw 0 10vw 0;

  .proposal-info {
    display: block;
    margin: 1rem 0 1rem 0;
  }

  .widget {
    display: grid;
    grid-template-columns: 1fr 4rem 1rem 3rem;

    .blocks {
      grid-column: 1;
      margin: auto 2vw;
    }

    .voice-credits {
      grid-column: 2;
      margin: auto 1vw auto 1vw;
    }

    .equals {
      grid-column: 3;
      margin: auto 8vw auto auto;
    }

    .counter-container {
      grid-column: 4;
      text-align: center;

      .arrow {
        border: none;
        outline: none;
        background: inherit;
        cursor: pointer;
      }
      .arrow:active {
        .svg {
          .path {
            stroke-width: 2.5;
          }
        }
      }

      .vote-counter {
        margin: 2vw;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .proposal-widget {
    margin: 3vw 0 3vw 0;

    .proposal-info {
    }

    .widget {
      grid-template-columns: 1fr auto 2rem 5rem;

      .voice-credits {
        margin: 3rem auto auto auto;
      }

      .equals {
        margin: 3rem auto auto auto;
      }

      .counter-container {

        .vote-counter {
          margin: 2vw;
        }
      }
    }
  }
}
