.polis-page {
  text-align: left;
  margin-top: 5vw;
  font-size: .8rem;

  .body {
    grid-column: 1 / -1;

    .notice {
      border: 1px solid black;
      border-radius: 8px;
      padding: 15px;
    }

    .notice-link {
      text-decoration: underline;
    }
    .notice-link:hover {
      text-decoration: none;
    }

    .insufficient-credits {
      font-size: 1rem;
      padding: 1rem;
      border: 1px solid black;
      border-radius: 8px;
    }

    .results-iframe {
      width: 99%;
      border: none;
      min-height: 6000px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .polis-page {
    display: grid;
    grid-template-columns: 15vw 1fr 5vw;
    column-gap: 4vw;

    .body {
      grid-column: 2 / 3;
    }
  }
}
