.App-header {

  .logo-container {
    width: 91vw;
    height: auto;

    .App-logo {
      width: 91vw;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 3em 0 0 0;
    padding: 0;
    font-size: 3.5vw;
    text-transform: uppercase;

    .nav-link {
      margin-bottom: 4em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .App-header {
    display: grid;
    grid-template-columns: 1fr 33%;
    text-align: left;

    .App-logo {
      width: 39.31vw;
    }

    .nav {
      margin: 0;
      font-size: 1.2vw;

      .nav-link {
      }
    }
  }
}
