.voting-page {
  text-align: left;
  margin-top: 5vw;
  font-size: .8rem;

  .nav {
    grid-column: 1;
  }

  .body {
    grid-column: 2;

    .proposal-list {
      padding: 2vw 1vw 0 0;
    }

    .insufficient-credits {
      font-size: 1rem;
      padding: 1rem;
      border: 1px solid black;
      border-radius: 8px;
    }
  }

  .button-container {
    text-align: center;
    padding: 1vw 2vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
    font-size: .8rem;

    .votes-cast {
      display: none;
    }

    .submit-button {
      display: block;
      margin: 1em auto 1em auto;
      background: black;
      color: white;
      border: none;
      border-radius: 15px;
      padding: .5em 1em .5em 1em;
      outline: none;
      cursor: pointer;
    }
  }
}

.results-page {
  text-align: left;
  margin-top: 5vw;
  font-size: .8rem;
}

@media only screen and (min-width: 768px) {
  .voting-page {
    text-align: left;
    display: grid;
    grid-template-columns: 15vw 1fr 20vw;
    column-gap: 4vw;
    font-size: 1rem;

    .body {

      .proposal-list {

      }
    }

    .button-container {
      position: fixed;
      left: auto;
      top: auto;
      padding: 0 2vw;
      background: none;
      grid-column: 3;
      right: 2vw;
      bottom: 5vh;

      .votes-cast {
        display: block;
      }
    }
  }

  .results-page {
    display: grid;
    grid-template-columns: 15vw 1fr 5vw;
    column-gap: 4vw;
  }
}
