.voting-page {
  text-align: left;
  display: grid;
  grid-template-columns: 15vw 1fr 20vw;
  column-gap: 4vw;
  margin-top: 20vw;

  .nav {
    grid-column: 1;
  }

  .body {
    grid-column: 2;

    .proposal-list {
      padding: 2vw 1vw 0 0;
    }
  }

  .button-container {
    text-align: center;
    grid-column: 3;
    padding: 0 2vw;

    .submit-button {
      display: block;
      margin: 1em auto 1em auto;
      background: black;
      color: white;
      border: none;
      border-radius: 15px;
      padding: .5em 1em .5em 1em;
      outline: none;
      cursor: pointer;
    }
  }
}

.results-page {
  text-align: left;

  .sticky-header {
    margin-top: 20vw;
  }

}

@media only screen and (min-width: 768px) {
  .voting-page {
    text-align: left;
    margin-top: 5vw;

    .body {

      .proposal-list {

      }
    }

    .button-container {
      position: fixed;
      right: 2vw;
      bottom: 5vh;
    }
  }

  .results-page {

  }
}
