.process-subheader {
  margin-bottom: 10vw;

  .title {
    font-size: 8vw;
  }

  .time-remaining {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .process-subheader {
    text-align: left;
    width: 52.5vw;

    .title {
      font-size: 2em;
    }

    .time-remaining {
      text-align: right;
    }
  }
}
