

.logo {
  width: 91vw;
  grid-column-start: 1;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 39.31vw;
  }
}

.App-header {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 1rem;
  padding: 4.5vmin;
  color: white;
}

@media only screen and (min-width: 768px) {
  .App-header {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding: 3vw 2vw 2vw 2vw;
  }
}
