.App-header {
  display: grid;
  grid-template-columns: 1fr 33%;
  margin-bottom: 2.5em;

  .App-logo {
    width: 91vw;
  }
}

@media only screen and (min-width: 768px) {
  .App-header {
    text-align: left;

    .App-logo {
      width: 39.31vw;
    }
  }
}
