.delegate-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 1.5em;

  .profile-pic {
    width: 15vw;
    margin: 1em;
  }

  .info {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto auto;

    .name {
      grid-row: 1;
      margin: 0;
      font-size: 1.2em;
    }

    .username {
      grid-row: 2;
      margin: 0;
      font-size: 1em;
    }

    .credit-balance {
      margin: 0;
      font-size: 1em;
    }
  }

  .give-credits {
    grid-column: 2;
    text-align: left;
    background: black;
    color: var(--yellowColor);
    padding: .5em 1em .5em 1em;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none !important;
  }
  .give-credits:hover {
    background: var(--yellowColor);
    color: black;
  }
}

@media only screen and (min-width: 768px) {
  .delegate-card {
    grid-template-columns: auto 1fr 20%;

    .profile-pic {
      width: 8vw;
      margin: 1em;
    }

    .info {
      grid-column: 2;
      padding: 1em 0 1em 0;
      display: grid;
      grid-template-rows: auto auto auto;

      .name {
        grid-row: 1;
        margin: 0;
        font-size: 1.2em;
      }

      .username {
        grid-row: 2;
        margin: 0;
        font-size: 1em;
      }

      .credit-balance {
        grid-row: 3;
        margin: 0;
        font-size: 1em;
      }
    }

    .give-credits {
      grid-column: 3;
      margin: auto 0 auto auto;
    }
    .give-credits:hover {
      text-decoration: underline;
    }
  }
}
