.status-bar-container {
  .stages {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 3vw;

    .stage {
      // width: 18vw;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
    .stage:hover {
      text-decoration: underline;
    }
    .selected-stage {
      text-decoration: underline;
    }
  }

  .status-bar {
    width: 82vw;
    height: 8vw;
  }
}

@media only screen and (min-width: 768px) {
  .status-bar-container {

    .stages {
      width: 52.3vw;
      display: flex;
      justify-content: space-between;
      text-align: center;
      font-size: 1.6vw;

      .stage {
        width: 10vw;
      }
    }

    .status-bar {
      margin: 0 3.7vw 0 3.7vw;
      width: 46vw;
      height: 4vw;
    }

    .time-remaining {
      text-align: right;
    }

    .content-header {
      margin-top: 5vw;
    }
  }
}
