{% extends 'emails/base.html' %}
{% block content %}

<div>
    <h4>Hi, {{ delegate_email }}</h4>
    <p>You have been invited to participate in a democratic decision on RxC Voice!</p>
    <p>Use the link below to create an account and contribute your voice.</p>
    <a href="https://voice.radicalxchange.org/verify?uidb64={{ uid }}&token={{ token }}">Create Account</a>

    <p>Already have an account?</p>
    <a href="https://voice.radicalxchange.org?uidb64={{ uid }}&token={{ token }}">Sign in</a>

    <p>Best wishes,</p>
    <p>The RxC Voice team</p>

    <p>Next-Generation Political Economies at <a href="https://radicalxchange.org">RadicalxChange</a></p>
</div>

{% endblock %}
