{% extends 'emails/base.html' %}
{% block content %}

<div>
    <h4>Hi, {{ delegate_first_name }}</h4>
    <p>You're receiving this email because you requested a password reset for your RxC Voice account.</p>
    <p>Use the link below to reset your password.</p>
    <a href="https://voice.radicalxchange.org/password-reset?uidb64={{ uid }}&token={{ token }}">Reset Password</a>

    <p>Thanks for using RxC Voice!</p>

    <p>Best wishes,</p>
    <p>The RxC Voice team</p>

    <p>Next-Generation Political Economies at <a href="https://radicalxchange.org">RadicalxChange</a></p>
</div>

{% endblock %}
