:root {
  --yellowColor: #edff38;
  --blackColor: #000000;
  --whiteColor: #ffffff;

  --primaryFont: 'messerv2.1condensed';
  --secondaryFont: 'suisse_intlbook';
  --ItallicFont: 'suisse_intlbook_italic';
}

.App {
  text-align: center;
}

.App-logo {
  width: 12%;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: var(--blackColor);
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: var(--primaryFont);
  font-size: 5em;
  padding-top: 3rem;
  font-weight: normal;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

h2 {
  padding: 3rem 0 1.3rem 0;
  font-size: 2rem;
  font-family: var(--secondaryFont);
  line-height: 3rem;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

h3 {
  padding: 3rem 0 1.3rem 0;
  font-size: 1.4rem;
  font-family: var(--secondaryFont);
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-family: var(--paragraphFont);
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

label {
  line-height: 2rem;
  font-size: 1.25rem;
  text-align: left;
  display: block;
  padding: 1.3rem 0 1.3rem 0;
}

input {
  display: block;
  line-height: 2rem;
  font-size: 1.25rem;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}

img {
  display: block;
  padding: none;
  margin: none;
  left: 0px;
  position: relative;
}

hr {
  width: 800px;
}

.button-text {
  font-size: 1.2rem;
  font-family: var(--secondaryFont);
  line-height: 3rem;
  color: var(--blackColor);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
    font-family: 'suisse_intlbook_italic';
    src: url('./assets/fonts/suisseintl-bookitalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/suisseintl-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'suisse_intlbook';
    src: url('./assets/fonts/suisseintl-book-webfont.woff2') format('woff2'),
         url('./assets/fonts/suisseintl-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'messerv2.1condensed';
    src: url('./assets/fonts/messerv2.1-condensed-webfont.woff2') format('woff2'),
         url('./assets/fonts/messerv2.1-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
