.voting-page {
  text-align: left;

  .sticky-header {
    margin-top: 20vw;
  }

  .button-container {
    text-align: center;

    .submit-button {
      display: block;
      margin: 1em auto 1em auto;
      background: black;
      color: white;
      border: none;
      border-radius: 15px;
      padding: .5em 1em .5em 1em;
      outline: none;
      cursor: pointer;
    }
  }
}

.results-page {
  text-align: left;

  .sticky-header {
    margin-top: 20vw;
  }

}

@media only screen and (min-width: 768px) {
  .voting-page {
    text-align: left;
    width: 60vw;

    .sticky-header {
      margin-top: 5vw;
    }

    .button-container {
      position: fixed;
      left: 70vw;
      bottom: 5vh;
    }
  }

  .results-page {

    .sticky-header {
      margin-top: 5vw;
    }

  }
}
