.voting-page {
  background: var(--whiteColor);
  text-align: left;

  .sticky-header {
    margin: auto;

    .content-header {
      margin-top: 20vw;
    }

    .available-tokens-widget {

      .available-tokens-text {
        width: 150px;
        display: inline-block;
      }

      .tokens-remaining {
        display: inline-block;
        width: 80%;
        text-align: right;
      }
    }
  }
  .button-container {
    text-align: center;

    .votes-cast {

    }
    .submit-button {
      display: block;
      margin: 1em auto 1em auto;
      background: black;
      color: white;
      border: none;
      border-radius: 15px;
      padding: .5em 1em .5em 1em;
      outline: none;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 768px) {
  .voting-page {
    text-align: left;
    width: 60vw;

    .sticky-header {

      .content-header {
        margin-top: 5vw;
      }
    }

    .button-container {
      position: fixed;
      left: 70vw;
      top: 40vw;

      .votes-cast {

      }
      .submit-button {
      }
    }
  }
}
