.home {
  text-align: center;
  display: grid;
  grid-template-columns: 58vw 1fr;

  .about {
    grid-column: 1 / -1;

    .title {
      font-family: var(--secondaryFont);
      font-size: 2vw;
      margin: 2vh 0 2vh 0;
    }

    .show-hide {
      grid-row: 3;
      font-size: 1rem;
      font-weight: bold;
      display: block;
      background: none;
      border: none;
      outline: none;
      margin: .5em auto;
      cursor: pointer;
    }

    .polis-link {
      display: block;
      margin-top: .5em;
    }
    .polis-link:hover {
      text-decoration: underline;
    }
  }

  .process-list {
    margin: 2.5em 0 2.5em 0;
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .home {
    text-align: left;

    .about {
      grid-column: 2 / -1;
      grid-row-start: 1;
    }

    .process-list {
      margin: 2.5em 0 2.5em 0;
      width: auto;
      padding-inline-start: 20px;
      margin-right: 2vw;
    }
  }
}
